<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="padding-left: 5%; padding-right: 5%; padding-top: 2%">
    <div class="header">
        <h1>28.1 Zarządzenie zadaniami</h1>
    </div>
    Błąd danych wejściowych <a href="/">powrót</a>
</div>
</body>
</html>